{{link-to 'See all friends' 'friends.index'}}

<ul>
  <li>Full Name: {{model.fullName}}</li>
  <li>Email: {{model.email}}</li>
  <li>Twitter: {{model.twitter}}</li>
</ul>

{{link-to "Edit" "friends.edit" model}}
<a href="#" {{action 'delete' model}}>Delete</a>